<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">

	<h1>Sign Up</h1>
	<form th:action="@{/user/signup}" th:object="${userCreateForm}" method="post">
		<div th:replace="~{form_errors :: formErrorsFragment}"></div>

		<table class="table table-hover">
			<tbody>
				<tr>
					<th> 사 용 자 I D </th>
					<td>
						<input type="text" th:field="*{username}" class="form-control">
					</td>
				</tr>
				<tr>
					<th> 비 밀 번 호 </th>
					<td>
						<input type="text" th:field="*{password1}" class="form-control">
					</td>
				</tr>
				<tr>
					<th> 비 밀 번 호 확 인 </th>
					<td>
						<input type="text" th:field="*{password2}" class="form-control">
					</td>
				</tr>
				<tr>
					<th> 이 메 일 </th>
					<td>
						<input type="text" th:field="*{email}" class="form-control">
					</td>
				</tr>
			</tbody>
		</table>
		<div class="text-right">
			<input type="submit" value=" 회 원 가 입 " class="btn btn-primary">
		</div>
	</form>

</div>
</html>
